{% extends 'livros/master.html' %}
{% block title %}Biblioteca Publica{% endblock %}
{% block content %}
<!-- 
    meta content e cabeçalho são retirados porque já existe no master.html 
    Todos os arquivos html que extendem o master.html não precisam repetir o 
    código do cabeçalho, basta colocar o conteúdo dentro do bloco content
  -->
  <h1>Biblioteca Publica</h1>
  {% for livro in livros %}
    <h2>
         {{ livro.titulo }}
    </h2>
    <p class="tipo">
      categoria {{ livro.tema }},
      formato {{ livro.tipo }} em {{ livro.idioma }}
    </p>
    <p class="status">
      {{ livro.get_status_display|truncatewords:30|linebreaks }}
    </p>
  {% endfor %}
{% endblock %}